<div class="container mt-4">
    <div class="d-flex mb-3">
      <button class="btn btn-primary ms-auto" [routerLink]="['registro']">Nuevo Cultivo</button>
    </div>
    <table class="table table-striped table-hover">
      <thead class="table-dark">
        <tr>
          <th>Nombre</th>
          <th>Tipo</th>
          <th>Etapa</th>
          <th>Descripción</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cultivo of cultivos">
          <td>{{ cultivo.nombre }}</td>
          <td>{{ cultivo.tipo }}</td>
          <td>{{ cultivo.etapa }}</td>
          <td>{{ cultivo.descripcion }}</td>
          <td>
            <button class="btn btn-sm btn-warning me-2" [routerLink]="['registro', cultivo.id]">Editar</button>
            <button class="btn btn-sm btn-danger" (click)="deleteCultivo(cultivo.id)">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  