// Definición de colores y estilos personalizados
$color-primary: #06268f;
$color-secondary: #041f6b;
$color-white: #fff;
$color-gray: #333;
$color-background: #f0f0f0;
$color-lightgray: #f8f9fa;
$color-lightergray: #f2f2f2;

// Navbar
.navbar-custom {
  background-color: $color-primary;
  height: 40px;
  .navbar-brand,
  .navbar-text,
  .nav-link {
    color: $color-white;
    &:hover {
      color: $color-white;
    }
  }
}

// Estilos para la segunda fila
.second-row {
  margin: 40px 0;
  background-color: $color-white;
  .subtitles {
    cursor: pointer;
    position: relative;
    color: $color-primary;
    margin-bottom: 10px;
    &:hover::after {
      content: "";
      display: block;
      width: 100%;
      height: 3px;
      background-color: $color-primary;
      position: absolute;
      bottom: -5px;
      left: 0;
    }
  }
}

// Botón "Iniciar Sesión"
.btn-iniciar-sesion {
  background-color: $color-primary;
  border-color: $color-primary;
  &:hover {
    background-color: $color-secondary;
    border-color: $color-secondary;
  }
}

// Estilos para la portada
.portada {
  position: relative;
  height: 500px;
  overflow: hidden;

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }

  h1 {
    font-size: 3rem;
    margin-top: 150px;
  }

  p {
    font-size: 1.5rem;
  }
}

// Estilos para la cuarta sección
.fourth-row {
  background-color: $color-lightgray;
  padding: 40px 0;
  .texto-adicional {
    font-size: 18px;
    color: $color-gray;
    margin-top: 20px;
  }
}

// Estilos para la quinta sección
.fifth-row {
  background-color: $color-lightergray;
  .d-flex.align-items-center {
    img {
      max-width: 50px;
    }
  }
}

// Estilos para la sexta sección
.sixth-row {
  .texto-adicional {
    font-size: 18px;
    color: $color-gray;
    margin-top: 20px;
  }
}

// Estilos para la séptima sección
.seventh-row {
  background-color: $color-secondary;
  color: $color-white;
  hr {
    border-top: 1px solid $color-white;
  }
}

