<div class="container mt-4">
    <h2 class="mb-4">{{ id ? 'EDITAR' : 'CREAR' }} CLIMA</h2>
    
    <form (ngSubmit)="onSubmit()" #climaForm="ngForm">
      <div class="mb-3">
        <label for="nombre" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="clima.nombre" required>
      </div>
      <div class="mb-3">
        <label for="descripcion" class="form-label">Descripción</label>
        <textarea class="form-control" id="descripcion" name="descripcion" [(ngModel)]="clima.descripcion" rows="3" required></textarea>
      </div>
      <div class="mb-3">
        <button type="submit" class="btn btn-primary me-2" [disabled]="!climaForm.form.valid">{{ id ? 'Actualizar' : 'Crear' }}</button>
        <button type="button" class="btn btn-secondary" (click)="cancelar()">Cancelar</button>
      </div>
    </form>
  </div>