// Variables
$color-primary: #06268f;
$color-secondary: #041f6b; 
$color-white: #fff;

// Estilos generales
body {
  font-family: 'Arial', sans-serif;
  padding-top: 56px;
}

// Navbar
.navbar {
  padding: 0.5rem 1rem;
  background-color: $color-secondary !important;
  
  .navbar-text {
    font-size: 0.9rem;
    
    a, span {
      color: $color-white;
      text-decoration: none;
      
      &:hover {
        color: darken($color-white, 10%);
      }
    }
  }
  
  .nav-link {
    color: $color-white !important;
    &:hover {
      color: darken($color-white, 10%) !important;
    }
  }
}

// Segunda fila
.second-row {
  background-color: $color-white;
  padding: 2rem 0;
}

// Botón "Iniciar Sesión"
.btn-iniciar-sesion {
  background-color: $color-primary;
  border-color: $color-primary;
  
  &:hover {
    background-color: darken($color-primary, 10%);
    border-color: darken($color-primary, 10%);
  }
}

// Footer
.footer {
  background-color: $color-secondary;
  color: $color-white;
  
  .social-icons {
    a {
      color: $color-white;
      margin: 0 0.5rem;
      font-size: 1.2rem;
      
      &:hover {
        color: darken($color-white, 15%);
      }
    }
  }
  
  hr {
    background-color: $color-white;
  }
}

// Navegación personalizada
.custom-nav {
  background-color: transparent;
}

.nav-list {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav-item {
  margin: 0 15px;
}

.nav-link {
  position: relative;
  color: #333;
  text-decoration: none;
  font-weight: 500;
  padding: 10px 0;
  transition: color 0.3s ease;

  &:hover {
    color: #007bff;
  }

  &.active {
    color: #007bff;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #007bff;
    }
  }
}

// Sección de información de contacto
.section-contact-info {
  background-color: #ffffff;
  padding: 60px 0;
}

.contact-card {
  text-align: center;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: translateY(-10px);
  }

  i {
    font-size: 3rem;
    color: #3498db;
    margin-bottom: 20px;
  }

  h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
}

// Sección CTA
.section-cta {
  background-color: #ecf0f1;
  color: #030303;
  padding: 80px 0;

  h3 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }

  .lead {
    font-size: 1.2rem;
    margin-bottom: 30px;
  }
}

.btn-success {
  background-color: #25d366;
  border-color: #25d366;
  font-size: 1.2rem;
  padding: 12px 30px;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: #128C7E;
    border-color: #128C7E;
    transform: scale(1.05);
  }
}

// Media queries para responsividad
@media (max-width: 991px) {
  .navbar-nav {
    flex-direction: column;
    
    .nav-item {
      text-align: center;
      padding: 0.5rem 0;
    }
  }
}