<div class="container mt-4">
  <div class="d-flex mb-3">
    <button class="btn btn-primary ms-auto" [routerLink]="['registro']">Nuevo Usuario</button>
  </div>
  <table class="table table-striped table-hover">
    <thead class="table-dark">
      <tr>
        <th>Email</th>
        <th>Nombre Completo</th>
        <th>Estado</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuario of usuarios">
        <td>{{ usuario.email }}</td>
        <td>{{ usuario.nombre_completo }}</td>
        <td>{{ usuario.estado | titlecase }}</td>
        <td>
          <button class="btn btn-sm btn-warning me-2" [routerLink]="['registro', usuario.id]">Editar</button>
          <button class="btn btn-sm btn-danger" (click)="deleteUsuario(usuario.id)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>