<div class="container mt-4">
    <div class="d-flex mb-3">
      <button class="btn btn-primary ms-auto" [routerLink]="['registro']">Nueva Ubicación</button>
    </div>
    <table class="table table-striped table-hover">
      <thead class="table-dark">
        <tr>
          <th>Departamento</th>
          <th>Provincia</th>
          <th>Distrito</th>
          <th>Centro Poblado</th>
          <th>GPS</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ubicacion of ubicaciones">
          <td>{{ ubicacion.departamento }}</td>
          <td>{{ ubicacion.provincia }}</td>
          <td>{{ ubicacion.distrito }}</td>
          <td>{{ ubicacion.centro_poblado }}</td>
          <td>{{ ubicacion.gps }}</td>
          <td>
            <button class="btn btn-sm btn-warning me-2" [routerLink]="['registro', ubicacion.id]">Editar</button>
            <button class="btn btn-sm btn-danger" (click)="deleteUbicacion(ubicacion.id)">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  