<div class="container mt-4">
    <div class="d-flex mb-3">
      <button class="btn btn-primary ms-auto" [routerLink]="['registro']">Nuevo Producto</button>
    </div>
    <table class="table table-striped table-hover">
      <thead class="table-dark">
        <tr>
          <th>Nombre</th>
          <th>Tipo</th>
          <th>Descripción</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let producto of productos">
          <td>{{ producto.nombre }}</td>
          <td>{{ producto.tipo }}</td>
          <td>{{ producto.descripcion }}</td>
          <td>
            <button class="btn btn-sm btn-warning me-2" [routerLink]="['registro', producto.id]">Editar</button>
            <button class="btn btn-sm btn-danger" (click)="deleteProducto(producto.id)">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  