<div class="container mt-4">
    <div class="d-flex mb-3">
      <button class="btn btn-primary ms-auto" [routerLink]="['registro']">Nuevo Colaborador</button>
    </div>
    <table class="table table-striped table-hover">
      <thead class="table-dark">
        <tr>
          <th>Correo</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Tipo Documento</th>
          <th>Número Documento</th>
          <th>Sexo</th>
          <th>Fecha Nacimiento</th>
          <th>Teléfono</th>
          <th>Dirección</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let colaborador of colaboradores">
          <td>{{ colaborador.correo }}</td>
          <td>{{ colaborador.nombre }}</td>
          <td>{{ colaborador.apellido }}</td>
          <td>{{ colaborador.tipo_documento }}</td>
          <td>{{ colaborador.numero_documento }}</td>
          <td>{{ colaborador.sexo }}</td>
          <td>{{ colaborador.fecha_nacimiento }}</td>
          <td>{{ colaborador.telefono }}</td>
          <td>{{ colaborador.direccion }}</td>
          <td>
            <button class="btn btn-sm btn-warning me-2" [routerLink]="['registro', colaborador.id]">Editar</button>
            <button class="btn btn-sm btn-danger" (click)="deleteColaborador(colaborador.id)">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>