<div class="container mt-4">
  <h2 class="mb-4">{{ id ? 'EDITAR' : 'CREAR' }} CAMPO AGRÍCOLA</h2>
  
  <form (ngSubmit)="onSubmit()" #campoAgricolaForm="ngForm">
    <div class="mb-3">
      <label for="tipo_tierra" class="form-label">Tipo de Tierra</label>
      <input type="text" class="form-control" id="tipo_tierra" name="tipo_tierra" [(ngModel)]="campoAgricola.tipo_tierra" required>
    </div>

    <div class="mb-3">
      <select class="form-select" id="ubicacion" (change)="onUbicacionSelected($event)">
        <option value="">Seleccione una ubicación</option>
        <option *ngFor="let ubicacion of ubicaciones" [value]="ubicacion.id">
          {{ubicacion.departamento}} - {{ubicacion.provincia}} - {{ubicacion.distrito}}
        </option>
      </select>
    </div>

    <div class="mb-3">
      <label for="departamento" class="form-label">Departamento</label>
      <input type="text" class="form-control" id="departamento" name="departamento" [(ngModel)]="campoAgricola.departamento" required>
    </div>

    <div class="mb-3">
      <label for="provincia" class="form-label">Provincia</label>
      <input type="text" class="form-control" id="provincia" name="provincia" [(ngModel)]="campoAgricola.provincia" required>
    </div>

    <div class="mb-3">
      <label for="distrito" class="form-label">Distrito</label>
      <input type="text" class="form-control" id="distrito" name="distrito" [(ngModel)]="campoAgricola.distrito" required>
    </div>

    <div class="mb-3">
      <label for="centro_poblado" class="form-label">Centro Poblado</label>
      <input type="text" class="form-control" id="centro_poblado" name="centro_poblado" [(ngModel)]="campoAgricola.centro_poblado" required>
    </div>

    <div class="mb-3">
      <label for="gps" class="form-label">GPS</label>
      <input type="text" class="form-control" id="gps" name="gps" [(ngModel)]="campoAgricola.gps" required>
    </div>

    <div class="mb-3">
      <button type="submit" class="btn btn-primary me-2" [disabled]="!campoAgricolaForm.form.valid">{{ id ? 'Actualizar' : 'Crear' }}</button>
      <button type="button" class="btn btn-secondary" (click)="cancelar()">Cancelar</button>
    </div>
  </form>
</div>