<div class="modal-header">
    <h4 class="modal-title pull-left">{{title}}</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="cerrarModal(false)">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="myForm">
      <div class="col-12 mt-3">
        <div class="form-group">
          <label for="tamaño">Tamaño</label>
          <input formControlName="tamano" type="text" class="form-control" placeholder="Ingrese el tamaño en m2">
        </div>
      </div>
      <div class="col-12 mt-3">
        <div class="form-group">
          <label for="tipoTierra">Tipo de tierra</label>
          <input formControlName="tipoTierra" type="text" class="form-control" placeholder="Ingrese el tipo de tierra">
        </div>
      </div>
      <div class="col-12 mt-3">
        <div class="form-group">
          <label for="ubicacion">Ubicación</label>
          <select formControlName="ubicacion" class="form-control">
            <option *ngFor="let ubicacion of ubicaciones" [value]="ubicacion.id">{{ ubicacion.nombre }}</option>
          </select>
        </div>
      </div>
      <div class="col-6 mt-3">
        <div class="d-grid gap-2">
          <button [disabled]="myForm.invalid" (click)="guardar()" class="btn-block btn btn-primary btn-sm">GUARDAR</button>
        </div>
      </div>
      <div class="col-6 mt-3">
        <div class="d-grid gap-2">
          <button (click)="cerrarModal(false)" class="btn-block btn btn-danger btn-sm">CANCELAR</button>
        </div>
      </div>
    </form>
  </div>
  