<div class="nav menu-container">
    <div class="sb-sidenav-menu-heading" style="color: white;">Core</div>
    <a class="nav-link" href="#" style="color: white;">
      <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
      Pagina principal
    </a>
    <div class="sb-sidenav-menu-heading" style="color: white;">Interface</div>
    <div *ngFor="let d of menu">
      <a class="nav-link" href="#" (click)="toggleMenu(d.target); $event.preventDefault()"
        [class.collapsed]="!isMenuActive(d.target)"
        style="color: white;">
        <div class="sb-nav-link-icon"><i class="{{d.icon}}"></i></div>
        {{d.name}}
        <div class="sb-sidenav-collapse-arrow">
          <i class="fas" [class.fa-angle-down]="!isMenuActive(d.target)" [class.fa-angle-up]="isMenuActive(d.target)"></i>
        </div>
      </a>
      <div [ngClass]="{'show': isMenuActive(d.target)}" class="collapse" id="{{d.target}}" aria-labelledby="headingOne">
        <nav class="sb-sidenav-menu-nested nav">
          <a *ngFor="let x of d.subMenu" class="nav-link" [routerLink]="[x.url]" style="color: white;">
            <i class="{{x.icon}}"></i> &nbsp; {{x.name}}
          </a>
        </nav>
      </div>
    </div>
  </div>