body, html {
  height: 100%;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.btn-primary {
  border-radius: 20px;
  width: 100%;
}

.form-container {
  width: 100%;
  max-width: 400px;
}

.card {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 15px;
}

.password-container {
  position: relative;
}

.password-wrapper {
  display: flex;
  align-items: center;
}

.password-toggle {
  margin-left: -30px; 
  cursor: pointer;
  z-index: 10;
}

.form-control {
  border-radius: 20px;
  padding-right: 40px; 
}

.fa-eye, .fa-eye-slash {
  color: #6c757d;
  font-size: 18px;
}

.title {
  font-size: 2rem; 
  margin-bottom: 0.5rem;
}

.subtitle {
  font-size: 1rem; 
  color: #6c757d;
  margin-top: 0;
}

/* Estilos para los iconos en los campos de usuario y contraseña */
.position-relative {
  position: relative;
}

.icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #6c757d;
}

.form-control-lg.pl-4 {
  padding-left: 2.5rem !important;
}

.logo-img {
  max-width: 100px;
  margin-top: 10px;
}

