<div class="container mt-4">
    <div class="d-flex mb-3">
      <button class="btn btn-primary ms-auto" [routerLink]="['registro']">Nuevo Drone</button>
    </div>
    <table class="table table-striped table-hover">
      <thead class="table-dark">
        <tr>
          <th>Modelo</th>
          <th>Tipo</th>
          <th>Capacidad</th>
          <th>Descripción</th>
          <th>Mantenimiento</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let drone of drones">
          <td>{{ drone.modelo }}</td>
          <td>{{ drone.tipo }}</td>
          <td>{{ drone.capacidad }}</td>
          <td>{{ drone.descripcion }}</td>
          <td>{{ drone.mantenimiento }}</td>
          <td>
            <button class="btn btn-sm btn-warning me-2" [routerLink]="['registro', drone.id]">Editar</button>
            <button class="btn btn-sm btn-danger" (click)="deleteDrone(drone.id)">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  