<nav class="sb-topnav navbar navbar-expand navbar-dark" style="background: linear-gradient(to bottom, #467fb8, #3d6bcf);">
    <!-- Navbar Brand with Logo -->
    <a class="navbar-brand ps-3" href="#">
        <img src="https://raw.githubusercontent.com/valentinp18/imagenesBest/main/nombre.png" alt="BESTGIS Logo">
      </a>
      
    <!-- Sidebar Toggle-->
    <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!">
        <i class="fas fa-bars"></i>
    </button>
    
    <!-- Spacer to push the following content to the right -->
    <div class="flex-grow-1"></div>
    
    <!-- User Profile Dropdown -->
    <div class="user-dropdown">
        <div class="user-info" (click)="toggleDropdown($event)">
            <img [src]="userPhotoUrl || defaultAvatarUrl" alt="User Photo" class="user-photo">
            <span class="user-name">{{ userName }}</span>
        </div>
        <div class="dropdown-content" *ngIf="isDropdownOpen">
            <button (click)="goToProfile()">Perfil</button>
            <button data-bs-toggle="modal" data-bs-target="#logoutModal">Cerrar Sesión</button>
        </div>
    </div>
</nav>

<!-- Modal de confirmación para cerrar sesión -->
<div class="modal fade" id="logoutModal" tabindex="-1" aria-labelledby="logoutModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="logoutModalLabel">Confirmar cierre de sesión</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ¿Estás seguro de que quieres cerrar sesión?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger" (click)="confirmLogout()">Cerrar sesión</button>
            </div>
        </div>
    </div>
</div>