<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>BestGIS - Inicio</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="./nosotros-page.component.scss" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
        <div class="container">
            <div class="navbar-text d-none d-lg-flex w-100 justify-content-between align-items-center">
                <div>
                    <span class="me-4"><i class="fas fa-phone-alt me-1"></i> +51 941 855 144</span>
                    <span><i class="fas fa-envelope me-1"></i> dgoigochea&#64;bestgispro.com</span>
                </div>
                <div>
                    <a href="https://www.facebook.com/BestGISPro/?_rdc=1&_rdr" class="text-white me-3" target="_blank"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://www.instagram.com/bestgis_pro/" class="text-white me-3" target="_blank"><i class="fab fa-instagram"></i></a>
                    <a href="https://api.whatsapp.com/send/?phone=51941855144&text&type=phone_number&app_absent=0" class="text-white me-3" target="_blank"><i class="fab fa-whatsapp"></i></a>
                    <a href="https://www.linkedin.com/company/bestgis/" class="text-white me-3" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                    <a href="https://www.youtube.com/@bestgis8093" class="text-white" target="_blank"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarContent">
                <ul class="navbar-nav d-lg-none">
                    <li class="nav-item">
                        <span class="nav-link"><i class="fas fa-phone-alt me-1"></i> +51 941 855 144</span>
                    </li>
                    <li class="nav-item">
                        <span class="nav-link"><i class="fas fa-envelope me-1"></i> dgoigochea&#64;bestgispro.com</span>
                    </li>
                    <li class="nav-item">
                        <a href="https://www.facebook.com/BestGISPro/?_rdc=1&_rdr" class="nav-link" target="_blank"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li class="nav-item">
                        <a href="https://www.instagram.com/bestgis_pro/" class="nav-link" target="_blank"><i class="fab fa-instagram"></i></a>
                    </li>
                    <li class="nav-item">
                        <a href="https://api.whatsapp.com/send/?phone=51941855144&text&type=phone_number&app_absent=0" class="nav-link" target="_blank"><i class="fab fa-whatsapp"></i></a>
                    </li>
                    <li class="nav-item">
                        <a href="https://www.linkedin.com/company/bestgis/" class="nav-link" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                    </li>
                    <li class="nav-item">
                        <a href="https://www.youtube.com/@bestgis8093" class="nav-link" target="_blank"><i class="fab fa-youtube"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <section class="py-4 second-row">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-3 text-center mb-3 mb-md-0">
                    <img src="https://raw.githubusercontent.com/valentinp18/imagenesBest/main/nomlog.png" class="img-fluid company-logo" alt="BestGIS Logo" style="width: 220px;">
                </div>
                <div class="col-md-6 mb-3 mb-md-0">
                    <nav class="custom-nav">
                        <ul class="nav-list">
                            <li class="nav-item">
                                <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">AGRICULTURA CON DRONE</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" routerLink="/nosotros" routerLinkActive="active">NOSOTROS</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" routerLink="/contacto" routerLinkActive="active">CONTACTO</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-md-3 text-center">
                    <a href="#/auth" class="btn btn-primary btn-iniciar-sesion">Iniciar Sesión</a>
                </div>
            </div>
        </div>
    </section>

    <section class="section section-bestgis">
        <div class="container">
            <h2 class="section-title">SOMOS BESTGIS</h2>
            <div class="content-wrapper">
                <p class="section-content">
                    Empresa especializada en el estudio del territorio mediante técnicas modernas como 
                    <strong>Fotogrametría con Drone, Sistemas de Información Geográfica (GIS) y Teledetección.</strong> 
                    Ponemos a su disposición nuestros servicios para apoyar y maximizar ahorros en sus proyectos 
                    (Civiles, Ambientales, agrícolas, etc.), con geo-información actualizada, precisa y de alto detalle.
                </p>
            </div>
        </div>
    </section>
    
    <section class="section section-history">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <h2 class="section-title">Nuestra Historia</h2>
                    <p class="section-content">
                        Desde el 2015 descubrimos, interactuamos y nos interesamos en las nuevas tendencias tecnológicas, 
                        teniendo como objetivo mejorar eficientemente las actividades económicas en la región amazónica del Perú. 
                        Es por eso que en el 2018 decidimos ofrecer oficialmente la tecnología Drone al mercado peruano, 
                        siempre siguiendo el fin que nos conduce desde un inicio hasta la actualidad: Maximizar el resultado 
                        de los cultivos de nuestra localidad, siendo este el principal ingreso económico de nuestra gente, 
                        crear nuevas oportunidades de aprendizaje con Drone y asistir a diferentes sectores con esta tecnología.
                    </p>
                </div>
                <div class="col-md-6">
                    <img src="https://raw.githubusercontent.com/valentinp18/imagenesBest/main/lider_dro.webp" alt="Nuestra Historia" class="img-fluid rounded shadow">
                </div>
            </div>
        </div>
    </section>
    
    <section class="section section-mission-vision">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h2 class="section-title">Nuestra Misión</h2>
                            <p class="section-content">
                                Transformar los procesos de las actividades económicas con tecnologías modernas de forma 
                                eficiente y sustentable, asegurando la calidad, el cuidado de las personas y el ambiente.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h2 class="section-title">Nuestra Visión</h2>
                            <p class="section-content">
                                Ser la empresa líder en capacitación y aplicación profesional de la tecnología Drone y GIS 
                                en el Perú, reconocida por nuestro aporte en las diferentes actividades económicas en 
                                eficiencia de proceso e innovación mediante tecnologías modernas.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="py-4 footer">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-4">
                    <hr class="bg-white">
                </div>
                <div class="col-md-4 text-center social-icons">
                    <a href="https://www.facebook.com/BestGISPro/?_rdc=1&_rdr" target="_blank"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://www.instagram.com/bestgis_pro/" target="_blank"><i class="fab fa-instagram"></i></a>
                    <a href="https://api.whatsapp.com/send/?phone=51941855144&text&type=phone_number&app_absent=0" target="_blank"><i class="fab fa-whatsapp"></i></a>
                    <a href="https://www.linkedin.com/company/bestgis/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                    <a href="https://www.youtube.com/@bestgis8093" target="_blank"><i class="fab fa-youtube"></i></a>
                </div>
                <div class="col-md-4">
                    <hr class="bg-white">
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12 text-center">
                    <p class="mb-0">Copyright © 2024 BESTGIS</p>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
</body>
</html>