<div class="container-fluid px-4 mt-5">
  <div class="card bg-light mb-3">
    <div class="card-header text-center">
      <h1 class="mt-4">MANTENIMIENTO DE CAMPO AGRICOLA</h1>
    </div>
    <div class="card-body">
      <form [formGroup]="myFormFilter">
        <div class="card bg-light mb-3">
          <div class="card-header">BUSQUEDA</div>
          <div class="card-body">
            <div class="row">
              <div class="col-3">
                <div class="form-group">
                  <label for="idCampo">Id</label>
                  <input formControlName="idCampo" type="text" class="form-control">
                </div>
              </div>
              <div class="col-3">
                <div class="form-group">
                  <label for="tipoTierra">Tipo de Tierra</label>
                  <input formControlName="tipoTierra" type="text" class="form-control">
                </div>
              </div>
              <div class="col-3">
                <div class="form-group">
                  <br>
                  <button (click)="filtrar()" class="btn btn-primary btn-sm">
                    <i class="fas fa-search"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Tamaño</th>
            <th>Tipo de tierra</th>
            <th>Ubicación</th>
            <th>
              <button (click)="crearCampoAgricola(modalEdit)" class="btn btn-primary btn-sm">
                Agregar <i class="fas fa-plus"></i>
              </button>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let Campo of CampoAgricolas">
            <td>{{ Campo.idCampo }}</td>
            <td>{{ Campo.tamano }}</td>  <!-- Cambiado de 'tamaño' a 'tamano' -->
            <td>{{ Campo.tipoTierra }}</td>
            <td>{{ Campo.ubicacion }}</td> <!-- Aquí se muestra el nombre de la ubicación -->
            <td>
              <button (click)="editarCampoAgricola(modalEdit, Campo)" class="btn btn-primary btn-sm">
                <i class="fas fa-edit"></i>
              </button>
              <button (click)="eliminarRegistro(Campo.idCampo)" class="btn btn-danger btn-sm">
                <i class="fas fa-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <pagination
        [totalItems]="totalItems"
        [(ngModel)]="request.numeroPagina"
        [itemsPerPage]="itemsPerPage"
        (pageChanged)="changePage($event)">
      </pagination>
      <div class="form-group">
        <label for="itemsPerPage">Items por página:</label>
        <select [(ngModel)]="itemsPerPage" (change)="changeItemsPerPage()" class="form-control" style="width: auto;">
          <option *ngFor="let item of [3, 5, 10, 20]" [value]="item">{{ item }}</option>
        </select>
      </div>
    </div>
  </div>
</div>

<ng-template #modalEdit>
  <app-campo-register
    [title]="titleModal"
    [CampoAgricola]="CampoAgricolaSelected"
    [accion]="accionModal"
    (closeModalEmmit)="getCloseModalEmmit($event)">
  </app-campo-register>
</ng-template>
