<div class="modal-header">
    <h4 class="modal-title pull-left">{{title}}</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="cerrarModal(false)">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="myForm">
        <div class="col-12 mt-3">
            <div class="form-group">
                <label for="">Usuario</label>
                <input formControlName="username" type="text" class="form-control" placeholder="Ingrese su usuario">
            </div>
            <div *ngIf="myForm.get('estado')?.errors &&  myForm.touched ">
                <small class="text-danger" *ngIf="myForm.get('estado')?.hasError('required')"> Campo requerido</small>
            </div>
        </div>
        <div class="col-12 mt-3">
            <div class="form-group">
                <label for="">Contraseña</label>
                <input formControlName="password" type="text" class="form-control" placeholder="Ingrese su contraseña">
            </div>
            <div *ngIf="myForm.get('estado')?.errors &&  myForm.touched ">
                <small class="text-danger" *ngIf="myForm.get('estado')?.hasError('required')"> Campo requerido</small>
            </div>
        </div>
        <div class="col-12 mt-3">
            <div class="form-group">
                <label for="">Colaborador</label>
                <input formControlName="idColaborador" type="text" class="form-control" placeholder="Ingrese el id del Colaborador">
            </div>
            <div *ngIf="myForm.get('estado')?.errors &&  myForm.touched ">
                <small class="text-danger" *ngIf="myForm.get('estado')?.hasError('required')"> Campo requerido</small>
            </div>
        </div>
        <div class="col-6 mt-3">
            <div class="d-grid gap-2">
                <button [disabled]="myForm.invalid" (click)="guardar()" class="btn-block btn btn-primary btn-sm">GUARDAR</button>
            </div>
        </div>
        <div class="col-6 mt-3">
            <div class="d-grid gap-2">
                <button (click)="cerrarModal(false)" class="btn-block btn btn-danger btn-sm">CANCELAR</button>
            </div>
        </div>
    </form>
</div>
